@model IEnumerable<web.Models.TOUR>

@{
    ViewBag.Title = "Hienthi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hienthi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TEN_TOUR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SONGAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SODEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOTRINH_TOUR.MA_NOIDI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_TOUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SONGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SODEM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOTRINH_TOUR.MA_NOIDI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MA_TOUR }) |
            @Html.ActionLink("Details", "Details", new { id=item.MA_TOUR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MA_TOUR })
        </td>
    </tr>
}

</table>
